{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memórias RAM</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
</head>
<body>
  <!-- HEADER DO SITE -->
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="http://127.0.0.1:8000/principal/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="https://www.youtube.com" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>
  <!-- FIM DO HEADER DO SITE-->

  <!-- COMEÇO DO MAIN -->
  <main>
    <!-- BARRA PARA DETALHAR OS PERIFÉRICOS -->
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="http://localhost:8000/processadores/" class="nav-link" aria-current="page">Processadores</a></li>
          <li class="nav-item"><a href="http://localhost:8000/memorias/" class="nav-link active">Memórias RAM</a></li>
          <li class="nav-item"><a href="http://localhost:8000/placas_de_video/" class="nav-link">Placas de Vídeo</a></li>
          <li class="nav-item"><a href="http://localhost:8000/placas_mae/" class="nav-link">Placas-mãe</a></li>
        </ul>
      </header>
    </div>
    <!-- FIM DA BARRA -->

    <!--COMEÇO DO TÍTULO E DESCRIÇÃO -->
    <div class="pricing-header p-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">MEMÓRIAS RAM</h1>
      <p class="fs-5 text-muted">Além do processador, pra dar aquele desempenho bacana uma memória RAM é muito bem-vinda!</p>
    </div>
    <!-- FIM DO TÍTULO E DESCRIÇÃO -->

    <!-- KINGSTON FURY -->
    <h1 class="visually-hidden">Features examples</h1>
  <div class="container px-2 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">KINGSTON FURY</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <img src="https://images.kabum.com.br/produtos/fotos/172365/memoria-kingston-fury-beast-8gb-3200mhz-ddr4-cl16-preto-kf432c16bb-8_1626270523_gg.jpg" alt="" width="256" height="256">
        </div>
        <h3 class="fs-2">KINGSTON FURY BEAST, 8GB, 3200 MHZ, DDR4, CL16</h3>
        <p>Memória Kingston Fury Beast A memória Kingston FURY Beast DDR4 proporciona um poderoso aumento de performance para jogos, edição de vídeo e renderização. Ela faz o overclock automático para a especificação de maior performance do módulo que seja suportada pelo sistema* e está pronta para Intel XMP e AMD Ryzen. </p>
        <button type="button" class="btn btn-outline-success">Comprar Agora</button>
    </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="https://images.kabum.com.br/produtos/fotos/172409/memoria-kingston-fury-beast-rgb-8gb-3200mhz-ddr4-cl16-preto-kf432c16bba-8_1662063358_gg.jpg" alt="" width="256" height="256">
        </div>
        <h3 class="fs-2">KINGSTON FURY BEAST, RGB, 8GB, 3200MHZ, DDR4, CL16</h3>
        <p>A Fury Beast DDR4 RGB impulsiona sua performance com velocidades de até 3733MHz, estilo desafiador e luzes RGB no comprimento do módulo para efeitos incríveis. Esta atualização está disponível em velocidades de 2666MHz a 3466MHz, latências de CL15-19 e capacidades de módulo único de 8 GB a 32 GB e capacidades de kit de 16 GB a 128 GB. Ele conta com overclock automático Plug and Play a velocidades de 2666MHz, e está pronto para Intel XMP e AMD Ryzen. </p>
        <button type="button" class="btn btn-outline-success">Comprar Agora</button>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <img src="https://images.kabum.com.br/produtos/fotos/193500/memoria-kingston-fury-beast-16gb-2x8gb-3200mhz-ddr4-cl16-preto-kf432c16bbk2-16_1630611136_gg.jpg" alt="" width="256" height="256">
        </div>
        <h3 class="fs-2">KINGSTON FURY BEAST, 16GB (2x8GB), 3200MHZ, DDR4, CL16</h3>
        <p>A memória Kingston FURY™ Beast DDR4 proporciona um poderoso aumento de performance para jogos, edição de vídeo e renderização com velocidades de até 3733MHz*. Este upgrade está disponível em velocidades de 2666MHz a 3733MHz,</p>
        <button type="button" class="btn btn-outline-success">Comprar Agora</button>
      </div>
    </div>
  </div>
  <!--FIM DA ABA DAS MEMÓRIAS KINGSTON FURY-->

  <!-- COMEÇO DO FOOTER -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">&copy; 2023 Recanto da Informática</p>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="https://www.instagram.com/lucasfidelis07/" class="nav-link px-2 text-muted">Instagram</a></li>
        <li class="nav-item"><a href="https://www.youtube.com/channel/UCoMIlS_GFCcAhqlPVWHkVbg" class="nav-link px-2 text-muted">YouTube</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Discord</a></li>
      </ul>
    </footer>
  </div>
  <!-- FIM DO FOOTER -->
</body>
</html>